<% include ../partials/header %>

<div class="container" style="padding-top: 15px">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 1</li>
            </div>
            <div class="map-wrapper">
                <div id="map"></div>
                <div class="location"><h4 class="location__name"><%= campground.location %></h4></div>
            </div>
            
            
        </div>
        
        <div class="col-md-9">
            <!--<div class="rating">-->
            <!--    <div class="rating__star" data-value="1"></div> -->
            <!--    <div class="rating__star" data-value="2"></div> -->
            <!--    <div class="rating__star" data-value="3"></div> -->
            <!--    <div class="rating__star" data-value="4"></div> -->
            <!--    <div class="rating__star" data-value="5"></div> -->
            <!--    -->
            <!--</div>-->
            <div class="rating">
                <% if (campground.ratings.length > 0) { %>
                <p class="rating__count"><em>Based on <%= campground.ratings.length %> rating(s)</em> </p>
                <% } else { %>
                 <p class="rating__count"><em>Be the first to review <%= campground.name %>!</em> </p>
                 <% } %>
                  <input type="radio" id="5-stars" name="rating" value="5" />
                  <label for="5-stars" class="rating__star"><i class="fas fa-star"></i></label>
                  <input type="radio" id="4-stars" name="rating" value="4" />
                  <label for="4-stars" class="rating__star"><i class="fas fa-star"></i></label>
                  <input type="radio" id="3-stars" name="rating" value="3" />
                  <label for="3-stars" class="rating__star"><i class="fas fa-star"></i></label>
                  <input type="radio" id="2-stars" name="rating" value="2" />
                  <label for="2-stars" class="rating__star"><i class="fas fa-star"></i></label>
                  <input type="radio" id="1-star" name="rating" value="1" />
                  <label for="1-star" class="rating__star"><i class="fas fa-star"></i></label>
  <!--<div class="rating__score"><%= campground.rating_average %></div>-->
               
            </div>
            <div class="thumbnail">
                <img class="img-lg" src="<%= campground.image %>" />
            
            <div class="caption">
                <h4 class="float-right">$<%= campground.price %>/night</h4>
                <h2><a href="#"><%= campground.name %></a></h2>
                <p><%= campground.description %></p>
                <p><em>Submitted by <%= campground.author.username %></em></p>
                
                <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                <form class="delete" method="POST" action="/campgrounds/<%= campground._id %>?_method=DELETE">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <% } %>
                
            </div>
            </div>
            
            <div class="card bg-light">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Post Comment</a>
                    </div>
                    <hr>
                    <% campground.comments.forEach(function(comment) { %>
                        <div class="row">
                            <div class="col-md-12 comment">
                                 <p class="comment__author"><strong><%= comment.author.username %></strong></p>
                                 <p class="comment__text"><%= comment.text %></p>
                                 <div class="comment__date"><%= comment.date %></div>
                                <div class="comment-functions">
                                  <div class="likes" data-comment="<%= comment._id %>" title="Like this comment" role="button">
                                        <span class="<%= (currentUser && comment.likes.filter(like => like.user.equals(currentUser._id))
            .length > 0) ? "likes__icon liked" : "likes__icon" %>"><i class="fas fa-heart"></i></span>
                                        <span class="likes__count"><%= comment.likes.length %></span>
                                 </div>
                                    
                                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <div class="comment__user-controls">
                                 <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                 <form class="delete" method="POST" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                 </form>
                                </div>
                                <% } %>

                                </div>
                                 <hr>
                            </div>
                        </div>
                      
        

                    <% }); %>

                </div>
            </div>
            
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <% include ../partials/login-form %>
      </div>
    </div>
  </div>
</div>


<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
  
  $(".likes").click(function() {
      const commentId = $(this).data("comment");
      const _self = $(this);
      $.ajax({
          url: "/campgrounds/<%= campground._id %>/comments/" + commentId + "/like",
          method: "POST",
          success: function(response) {
              console.log(response);
              if (response.status === "success") {
                  _self.find(".likes__count").text(response.newLikes);
                  _self.find(".likes__icon").addClass("liked");
              } else if (response.msg === "login") {
                  $('#login-modal').modal('show');
              }
              
          }
      })
  })
  
  $("input[name=rating]").change(function() {
      const rating = $("input[name=rating]:checked").val();
      console.log(rating);
      $.ajax({
          url: "/campgrounds/<%= campground._id %>/rate",
          method: "PUT",
         data: {
             rating: rating
         },
          success: function(response) {
              if (response.status === "success") {
                  console.log(response);
              } else {
                  console.log(response);
              }
          }
      })
      
  })
  
  const avgRating = <%= Math.round(campground.rating_average) %>;
  $("#" + avgRating + "-stars").prop("checked", true);
  const loggedIn = <%= currentUser ? true : false %>;
  if (!loggedIn) {
      $("input[name=rating]").attr("disabled", true);
      $(".rating__star").click(function() {
          $('#login-modal').modal('show');
      })
  }
  
  
  
  
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK5NgKTZ2eg6hA5UP547005QGqT6QeQVQ&callback=initMap"></script>


<% include ../partials/footer %>